<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>UnifiedFloppyTool</string>
    <key>CFBundleExecutable</key>
    <string>UnifiedFloppyTool</string>
    <key>CFBundleIconFile</key>
    <string>uft.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.uft.UnifiedFloppyTool</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>UnifiedFloppyTool</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>4.0.0</string>
    <key>CFBundleVersion</key>
    <string>4.0.0</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2025-2026 UFT Project. All rights reserved.</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>Disk Image</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>d64</string>
                <string>d71</string>
                <string>d81</string>
                <string>g64</string>
                <string>adf</string>
                <string>scp</string>
                <string>hfe</string>
                <string>ipf</string>
            </array>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
    </array>
</dict>
</plist>
